/*----------------index-------------*/
/*------menu nav------*/
/*----------variables--------*/
/*-----fonts------
font-family: 'Montserrat', sans-serif;*/
.imagen-logo {
  margin-left: 0;
  height: auto;
  width: auto;
  justify-content: left;
}

.conteiner-contacto .imagen-nav-servicio, .conteiner-servicios .servicios-main .imagen-nav-servicio, #bio .imagen-nav-servicio {
  width: 100%;
  height: 30em;
  background-size: cover;
}

/*-----------nav------------*/
.imagen-logo {
  max-height: 7rem;
}
@media screen and (max-width: 450px) {
  .imagen-logo {
    max-height: 5rem;
  }
}
@media screen and (min-width: 451px) and (max-width: 991px) {
  .imagen-logo {
    max-height: 7rem;
  }
}

.nav-enlaces {
  border-right: solid white;
}

/*---footer-------*/
footer {
  background-color: #413f42;
  background-image: url(../imagenes/footer.jpg);
  width: 100%;
  height: auto;
  padding: 3em;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (max-width: 450px) {
  footer {
    background-color: #413f42;
    background-image: none;
    background-size: unset;
    display: flex;
    justify-content: flex-start;
    padding: 0;
  }
}
@media screen and (min-width: 451px) and (max-width: 700px) {
  footer {
    background-color: #413f42;
    background-image: none;
    background-size: unset;
    display: flex;
    justify-content: flex-start;
    padding: 0;
  }
}
footer .menu-footer1 {
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: right;
  border-right: solid white;
  padding-right: 0;
}
@media screen and (max-width: 450px) {
  footer .menu-footer1 {
    justify-content: flex-end;
    align-items: center;
    padding: 0;
    width: auto;
    height: auto;
    font-size: 1em;
  }
}
footer .menu-footer1 li {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
@media screen and (max-width: 450px) {
  footer .menu-footer1 li {
    font-size: 0.8em;
  }
}
footer .menu-footer1 li strong {
  color: white;
  margin: 1em;
  text-decoration: underline;
  display: flex;
  align-items: flex-start;
}
footer .menu-footer1 li a {
  text-decoration: none;
  color: whitesmoke;
}
footer .menu-footer1 li a:hover {
  color: #b20600;
  text-shadow: none;
}
footer .menu-footer2 {
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}
@media screen and (max-width: 450px) {
  footer .menu-footer2 {
    align-items: flex-end;
    width: auto;
  }
}
footer .menu-footer2 .iconos-footer {
  width: 100%;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  color: whitesmoke;
}
@media screen and (max-width: 450px) {
  footer .menu-footer2 .iconos-footer li {
    font-size: 0.8em;
    display: flex;
    justify-content: flex-start;
  }
}
footer .menu-footer2 .iconos-footer li strong {
  color: white;
  margin: 1em;
  text-decoration: underline;
  display: flex;
  align-items: flex-start;
}
footer .menu-footer2 .iconos-footer .img-footer {
  width: 2rem;
  height: 2rem;
}

/*---index main----*/
.main-conteiner-index {
  width: 100%;
  height: auto;
  /*------------primera seccion----------*/
  /*-----------------segunda seccion---------*/
  /*----------tercera seccion----------*/
  /*------------------cuarta seccion----------*/
  /*----------------quinta seccion----------*/
  /*-----------sexta saccion-------------*/
}
.main-conteiner-index #presentacion {
  background-image: url(../imagenes/presentacion-index1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
@media screen and (max-width: 450px) {
  .main-conteiner-index #presentacion {
    background-color: rgba(0, 0, 0, 0.9803921569);
    display: flex;
    background-image: none;
    height: 50vh;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (min-width: 451px) and (max-width: 991px) {
  .main-conteiner-index #presentacion {
    background-color: rgba(0, 0, 0, 0.9803921569);
    background-image: none;
    height: 40vh;
    justify-content: center;
    align-items: center;
  }
}
.main-conteiner-index #presentacion .presentacion-conteiner {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 1em;
  margin-top: 12em;
  align-items: flex-end;
}
@media screen and (max-width: 450px) {
  .main-conteiner-index #presentacion .presentacion-conteiner {
    height: 50%;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    margin-right: 0;
    margin-top: 5em;
  }
}
@media screen and (min-width: 451px) and (max-width: 991px) {
  .main-conteiner-index #presentacion .presentacion-conteiner {
    height: 50%;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    margin-top: 8em;
  }
}
.main-conteiner-index #presentacion .presentacion-conteiner .magotommi {
  width: 40%;
  height: auto;
  display: flex;
  align-items: center;
}
.main-conteiner-index #presentacion .presentacion-conteiner .magotommi img {
  width: 100%;
}
.main-conteiner-index #presentacion .presentacion-conteiner .frase {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 2em;
  align-items: center;
}
@media screen and (max-width: 450px) {
  .main-conteiner-index #presentacion .presentacion-conteiner .frase {
    font-size: 1.5em;
  }
}
@media screen and (min-width: 451px) and (max-width: 991px) {
  .main-conteiner-index #presentacion .presentacion-conteiner .frase {
    font-size: 1.8;
  }
}
.main-conteiner-index #presentacion .presentacion-conteiner .boton-index {
  width: 100%;
  text-decoration: none;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  font-size: 2em;
  margin-top: 3em;
}
@media screen and (max-width: 450px) {
  .main-conteiner-index #presentacion .presentacion-conteiner .boton-index {
    justify-content: center;
    font-size: 1.5em;
  }
}
@media screen and (min-width: 451px) and (max-width: 991px) {
  .main-conteiner-index #presentacion .presentacion-conteiner .boton-index {
    justify-content: center;
  }
}
.main-conteiner-index #presentacion .presentacion-conteiner .boton-index .boton-presentacion {
  border-radius: 3em;
  background-color: white;
  color: #000000;
  text-decoration: none;
  display: flex;
  justify-content: center;
  width: 10em;
}
.main-conteiner-index .fondo-presentacion {
  display: flex;
  align-items: flex-start;
}
@media screen and (max-width: 450px) {
  .main-conteiner-index .fondo-presentacion {
    background-color: #000000;
    background-image: url(../imagenes/presentacion-index1.jpg);
    background-size: cover;
    width: 100%;
    height: 50vh;
  }
}
@media screen and (min-width: 451px) and (max-width: 991px) {
  .main-conteiner-index .fondo-presentacion {
    background-color: #000000;
    background-image: url(../imagenes/presentacion-index1.jpg);
    background-size: cover;
    width: 100%;
    height: 60vh;
  }
}
.main-conteiner-index #presentacion-bio {
  background-color: #413f42;
}
.main-conteiner-index #presentacion-bio .titulos-index {
  display: none;
  height: 2em;
}
@media screen and (max-width: 450px) {
  .main-conteiner-index #presentacion-bio .titulos-index {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 1.8rem;
    color: white;
  }
  .main-conteiner-index #presentacion-bio .titulos-index h2 {
    font-size: 1.5em;
  }
}
@media screen and (min-width: 451px) and (max-width: 991px) {
  .main-conteiner-index #presentacion-bio .titulos-index {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 3rem;
    text-decoration: none;
    color: white;
  }
  .main-conteiner-index #presentacion-bio .titulos-index h2 {
    font-size: 1.3em;
  }
}
.main-conteiner-index #presentacion-bio .presentacion-bio-index {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5%;
}
@media screen and (max-width: 450px) {
  .main-conteiner-index #presentacion-bio .presentacion-bio-index {
    display: flex;
    flex-direction: column;
    justify-content: unset;
    height: auto;
  }
}
@media screen and (min-width: 451px) and (max-width: 991px) {
  .main-conteiner-index #presentacion-bio .presentacion-bio-index {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
  }
}
.main-conteiner-index #presentacion-bio .presentacion-bio-index .imagen-bio {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: left;
}
@media screen and (max-width: 450px) {
  .main-conteiner-index #presentacion-bio .presentacion-bio-index .imagen-bio {
    width: 80%;
    margin: 1em;
  }
}
@media screen and (min-width: 451px) and (max-width: 991px) {
  .main-conteiner-index #presentacion-bio .presentacion-bio-index .imagen-bio {
    width: 75%;
    display: flex;
    justify-content: right;
    margin: 1em;
  }
}
.main-conteiner-index #presentacion-bio .presentacion-bio-index .texto-bio-index {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: 1em;
}
@media screen and (max-width: 451px) {
  .main-conteiner-index #presentacion-bio .presentacion-bio-index .texto-bio-index {
    margin: 1em;
  }
}
@media screen and (min-width: 451px) and (max-width: 991px) {
  .main-conteiner-index #presentacion-bio .presentacion-bio-index .texto-bio-index {
    margin: 2em;
  }
}
.main-conteiner-index #presentacion-bio .presentacion-bio-index .texto-bio-index .titulo-bio {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-size: 3rem;
  text-decoration: none;
  color: white;
}
@media screen and (max-width: 451px) {
  .main-conteiner-index #presentacion-bio .presentacion-bio-index .texto-bio-index .titulo-bio {
    display: none;
  }
}
@media screen and (min-width: 451px) and (max-width: 991px) {
  .main-conteiner-index #presentacion-bio .presentacion-bio-index .texto-bio-index .titulo-bio {
    display: none;
  }
}
.main-conteiner-index #presentacion-bio .presentacion-bio-index .texto-bio-index .descripcion-bio {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: auto;
  color: white;
  font-size: 1.8em;
}
@media screen and (max-width: 451px) {
  .main-conteiner-index #presentacion-bio .presentacion-bio-index .texto-bio-index .descripcion-bio {
    font-size: 1rem;
    margin: 1em;
  }
}
@media screen and (min-width: 451px) and (max-width: 991px) {
  .main-conteiner-index #presentacion-bio .presentacion-bio-index .texto-bio-index .descripcion-bio {
    font-size: 1.4rem;
  }
}
.main-conteiner-index #presentacion-bio .presentacion-bio-index .texto-bio-index .boton-bio {
  border-radius: 6em;
  border-color: #000000;
  background-color: #000000;
  text-decoration: none;
  color: #dddddd;
  font-size: 2em;
  transition-duration: 1s;
}
.main-conteiner-index #presentacion-bio .presentacion-bio-index .texto-bio-index .boton-bio:hover {
  color: #b20600;
  background-color: #dddddd;
  font-size: 3em;
}
.main-conteiner-index #trailer {
  background-color: black;
}
.main-conteiner-index #trailer .video-trailer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.main-conteiner-index #presentacion_servicios-index {
  background-color: #413f42;
}
.main-conteiner-index #presentacion_servicios-index .titulo-shows .titulo-servicios-index {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-size: 3rem;
  text-decoration: none;
  color: white;
}
.main-conteiner-index #presentacion_servicios-index .titulo-shows .titulo-servicios-index:hover {
  color: #b20600;
  font-size: 3.3em;
}
@media screen and (max-width: 450px) {
  .main-conteiner-index #presentacion_servicios-index .titulo-shows .titulo-servicios-index:hover {
    font-size: 2.3em;
  }
}
@media screen and (max-width: 450px) {
  .main-conteiner-index #presentacion_servicios-index .titulo-shows .titulo-servicios-index {
    font-size: 2em;
  }
}
.main-conteiner-index #presentacion_servicios-index .servicios-index {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #413f42;
  width: 100%;
  height: auto;
  flex-wrap: nowrap;
}
.main-conteiner-index #presentacion_servicios-index .servicios-index .servicio-index {
  display: flex;
  flex-direction: column;
  width: 25%;
  height: auto;
  align-items: center;
  margin: 1em;
}
@media screen and (max-width: 450px) {
  .main-conteiner-index #presentacion_servicios-index .servicios-index .servicio-index {
    margin: 1em;
    width: 100%;
  }
}
.main-conteiner-index #presentacion_servicios-index .servicios-index .servicio-index .img-serv {
  width: 80%;
  height: 100%;
  display: flex;
}
@media screen and (max-width: 450px) {
  .main-conteiner-index #presentacion_servicios-index .servicios-index {
    display: flex;
    flex-direction: column;
  }
}
.main-conteiner-index #despedida {
  background-color: rgba(0, 0, 0, 0.9803921569);
  width: 100%;
  height: 40vh;
}
@media screen and (max-width: 450px) {
  .main-conteiner-index #despedida {
    height: auto;
  }
}
.main-conteiner-index #despedida .despedida-conteiner {
  background-image: url(../imagenes/index-despedida2.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  flex-direction: column;
}
@media screen and (max-width: 450px) {
  .main-conteiner-index #despedida .despedida-conteiner {
    background-image: none;
    background-color: #413f42;
    align-items: center;
    justify-content: flex-start;
    background-size: cover;
  }
}
@media screen and (min-width: 451px) and (max-width: 991px) {
  .main-conteiner-index #despedida .despedida-conteiner {
    justify-content: space-between;
  }
}
.main-conteiner-index #despedida .despedida-conteiner .titulo-desp {
  display: flex;
  justify-content: center;
  width: 50%;
  font-size: 2rem;
  text-decoration: none;
  color: white;
}
@media screen and (min-width: 451px) and (max-width: 991px) {
  .main-conteiner-index #despedida .despedida-conteiner .titulo-desp {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5em;
    margin-top: 2em;
  }
}
.main-conteiner-index #despedida .despedida-conteiner .texto-despedida {
  color: whitesmoke;
  font-size: 1.5em;
  width: 40%;
  display: flex;
  align-items: flex-start;
  margin: 1em;
}
@media screen and (max-width: 450px) {
  .main-conteiner-index #despedida .despedida-conteiner .texto-despedida {
    display: flex;
    justify-content: flex-start;
    font-size: 1rem;
    width: 100%;
  }
}
@media screen and (min-width: 451px) and (max-width: 991px) {
  .main-conteiner-index #despedida .despedida-conteiner .texto-despedida {
    font-size: 1.3rem;
    width: 95%;
  }
}
.main-conteiner-index #imagenes-index {
  background-color: #413f42;
  width: 100%;
  height: auto;
}
.main-conteiner-index #imagenes-index .titulo-gal-index {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 7em;
  color: white;
  background-color: #413f42;
}
.main-conteiner-index #imagenes-index .titulo-gal-index .titulo-galeria-index {
  display: flex;
  background-color: #413f42;
  justify-content: center;
  align-items: flex-start;
  font-size: 3rem;
  text-decoration: none;
  color: white;
}
@media screen and (max-width: 450px) {
  .main-conteiner-index #imagenes-index .titulo-gal-index .titulo-galeria-index {
    font-size: 2em;
    border-top: solid white;
    border-bottom: solid white;
  }
}
.main-conteiner-index #imagenes-index .titulo-gal-index .titulo-galeria-index:hover {
  color: #b20600;
}
.main-conteiner-index #imagenes-index .index-galeria-conteiner {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.main-conteiner-index #imagenes-index .index-galeria-conteiner img {
  object-fit: contain;
  height: auto;
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

.disclaimer {
  display: none;
}

#bio {
  width: 100%;
  height: auto;
  background-color: #413f42;
}
#bio .imagen-nav-servicio {
  background-image: url(../imagenes/gal2.jpg);
}
@media screen and (max-width: 450px) {
  #bio .imagen-nav-servicio {
    background-image: url(../imagenes/menu1.jpg);
  }
}
@media screen and (min-width: 451px) and (max-width: 991px) {
  #bio .imagen-nav-servicio {
    height: 35rem;
    background-image: url(../imagenes/gal.jpg);
  }
}
#bio .bio-intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #413f42;
  background-repeat: no-repeat;
  background-size: cover;
  color: azure;
  height: autos;
  font-size: 1rem;
}
#bio .bio-intro h2 {
  font-size: 2rem;
  color: white;
}
@media screen and (max-width: 450px) {
  #bio .bio-intro h2 {
    font-size: 0.8rem;
  }
}
@media screen and (min-width: 451px) and (max-width: 991px) {
  #bio .bio-intro h2 {
    font-size: 1.3rem;
  }
}
#bio .grid-conteiner-bio {
  display: flex;
  align-items: center;
  background-color: #413f42;
  width: 100%;
  height: auto;
}
#bio .grid-conteiner-bio .bio-conteiner1 {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: auto;
  padding: 3em;
}
@media screen and (max-width: 450px) {
  #bio .grid-conteiner-bio .bio-conteiner1 {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: auto;
    padding: 1em;
  }
}
@media screen and (min-width: 451px) and (max-width: 991px) {
  #bio .grid-conteiner-bio .bio-conteiner1 {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: auto;
    padding: 1em;
  }
}
#bio .grid-conteiner-bio .bio-conteiner1 .imagen-bio1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: auto;
}
#bio .grid-conteiner-bio .bio-conteiner1 .imagen-bio1 .img1-bio {
  width: 100%;
  height: auto;
}
#bio .grid-conteiner-bio .bio-conteiner1 .texto-bio h1 {
  display: flex;
  justify-content: center;
  font-size: 3em;
  color: white;
}
@media screen and (max-width: 450px) {
  #bio .grid-conteiner-bio .bio-conteiner1 .texto-bio h1 {
    font-size: 1.5em;
  }
}
@media screen and (min-width: 451px) and (max-width: 991px) {
  #bio .grid-conteiner-bio .bio-conteiner1 .texto-bio h1 {
    font-size: 2em;
  }
}
#bio .grid-conteiner-bio .bio-conteiner1 .texto-bio h2 {
  padding: 1em;
  font-size: 2em;
  color: white;
}
@media screen and (max-width: 450px) {
  #bio .grid-conteiner-bio .bio-conteiner1 .texto-bio h2 {
    font-size: 1em;
    border-bottom: solid white;
  }
}
@media screen and (min-width: 451px) and (max-width: 991px) {
  #bio .grid-conteiner-bio .bio-conteiner1 .texto-bio h2 {
    font-size: 1.5em;
  }
}

/*-------------------servicios--------------*/
.conteiner-servicios {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;
}
.conteiner-servicios .servicios-main .imagen-nav-servicio {
  background-image: url(../imagenes/nav-servicio.jpg);
}
@media screen and (max-width: 450px) {
  .conteiner-servicios .servicios-main .imagen-nav-servicio {
    background-image: url(../imagenes/menu1.jpg);
  }
}
@media screen and (min-width: 451px) and (max-width: 600px) {
  .conteiner-servicios .servicios-main .imagen-nav-servicio {
    background-image: url(../imagenes/menu1.jpg);
  }
}
.conteiner-servicios .servicios-main .servicios-descrip .servicios-intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #413f42;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  height: autos;
  font-size: 1rem;
  border-bottom: dashed white;
}
.conteiner-servicios .servicios-main .servicios-descrip .servicios-intro h1 {
  font-size: 3rem;
  color: white;
  text-decoration: underline;
}
@media screen and (max-width: 450px) {
  .conteiner-servicios .servicios-main .servicios-descrip .servicios-intro h1 {
    font-size: 2rem;
  }
}
@media screen and (min-width: 451px) and (max-width: 991px) {
  .conteiner-servicios .servicios-main .servicios-descrip .servicios-intro h1 {
    font-size: unset, 5rem;
  }
}
.conteiner-servicios .servicios-main .servicios-descrip .servicios-intro h2 {
  font-size: 1.5rem;
  margin-left: 2em;
  margin-right: 2em;
}
@media screen and (max-width: 450px) {
  .conteiner-servicios .servicios-main .servicios-descrip .servicios-intro h2 {
    font-size: 1rem;
    margin-left: 1em;
    margin-right: 1em;
  }
}
@media screen and (min-width: 451px) and (max-width: 991px) {
  .conteiner-servicios .servicios-main .servicios-descrip .servicios-intro h2 {
    font-size: 1rem;
  }
}
.conteiner-servicios .servicios-main .servicio-conteiner {
  width: 100%;
  height: auto;
  display: flex;
  background-color: #413f42;
  color: white;
}
@media screen and (max-width: 450px) {
  .conteiner-servicios .servicios-main .servicio-conteiner {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (min-width: 451px) and (max-width: 991px) {
  .conteiner-servicios .servicios-main .servicio-conteiner {
    display: flex;
    flex-direction: column;
  }
}
.conteiner-servicios .servicios-main .servicio-conteiner .servicios1 {
  width: 50%;
  margin-right: 1rem;
  margin-left: 1rem;
}
@media screen and (max-width: 450px) {
  .conteiner-servicios .servicios-main .servicio-conteiner .servicios1 {
    width: 100%;
    margin: 0;
  }
}
@media screen and (min-width: 451px) and (max-width: 991px) {
  .conteiner-servicios .servicios-main .servicio-conteiner .servicios1 {
    width: 100%;
  }
}
.conteiner-servicios .servicios-main .servicio-conteiner .servicios1 .servicio {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.conteiner-servicios .servicios-main .servicio-conteiner .servicios1 .servicio .imagen-servicio {
  width: 50%;
  height: auto;
  display: inline;
  margin: 1rem;
}
.conteiner-servicios .servicios-main .servicio-conteiner .servicios1 .servicio .descripcion-servicio h2 {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
  font-size: 2rem;
}
@media screen and (max-width: 450px) {
  .conteiner-servicios .servicios-main .servicio-conteiner .servicios1 .servicio .descripcion-servicio h2 {
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 451px) and (max-width: 991px) {
  .conteiner-servicios .servicios-main .servicio-conteiner .servicios1 .servicio .descripcion-servicio h2 {
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
  }
}
.conteiner-servicios .servicios-main .servicio-conteiner .servicios1 .servicio .descripcion-servicio h3 {
  margin-bottom: 1rem;
  font-size: 1rem;
  margin-left: 1rem;
}
@media screen and (max-width: 450px) {
  .conteiner-servicios .servicios-main .servicio-conteiner .servicios1 .servicio .descripcion-servicio h3 {
    margin-bottom: 0.5rem;
    font-size: 0.9rem;
    margin-left: 0.5rem;
  }
}
@media screen and (min-width: 451px) and (max-width: 991px) {
  .conteiner-servicios .servicios-main .servicio-conteiner .servicios1 .servicio .descripcion-servicio h3 {
    margin-bottom: 0.5rem;
    font-size: 0.9rem;
    margin-left: 0.5rem;
  }
}
.conteiner-servicios .servicios-main .servicio-conteiner .servicios2 {
  margin-right: 1rem;
  margin-left: 1rem;
  width: 50%;
}
@media screen and (max-width: 450px) {
  .conteiner-servicios .servicios-main .servicio-conteiner .servicios2 {
    width: 100%;
    margin: 0;
  }
}
@media screen and (min-width: 451px) and (max-width: 991px) {
  .conteiner-servicios .servicios-main .servicio-conteiner .servicios2 {
    width: 100%;
  }
}
.conteiner-servicios .servicios-main .servicio-conteiner .servicios2 .servicio {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.conteiner-servicios .servicios-main .servicio-conteiner .servicios2 .servicio .imagen-servicio {
  width: 50%;
  height: auto;
  display: inline;
  margin: 1rem;
}
.conteiner-servicios .servicios-main .servicio-conteiner .servicios2 .servicio .descripcion-servicio h2 {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
  font-size: 2rem;
}
@media screen and (max-width: 450px) {
  .conteiner-servicios .servicios-main .servicio-conteiner .servicios2 .servicio .descripcion-servicio h2 {
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 451px) and (max-width: 991px) {
  .conteiner-servicios .servicios-main .servicio-conteiner .servicios2 .servicio .descripcion-servicio h2 {
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
  }
}
.conteiner-servicios .servicios-main .servicio-conteiner .servicios2 .servicio .descripcion-servicio h3 {
  margin-bottom: 1rem;
  font-size: 1rem;
  margin-left: 1rem;
}
@media screen and (max-width: 450px) {
  .conteiner-servicios .servicios-main .servicio-conteiner .servicios2 .servicio .descripcion-servicio h3 {
    margin-bottom: 0.5rem;
    font-size: 0.8rem;
    margin-left: 0.5rem;
  }
}

/*-------------galeria--------------*/
.conteiner-gal {
  background-color: #413f42;
}
.conteiner-gal .imagen-nav-servicio {
  width: 100%;
  height: 10em;
  background-color: black;
  background-size: cover;
}
.conteiner-gal #fotos-galeria h2 {
  color: white;
  text-align: center;
  font-size: 3em;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.conteiner-gal #fotos-galeria .galeria-conteiner {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 20em;
  gap: 2em;
  padding: 2em;
}
@media screen and (max-width: 450px) {
  .conteiner-gal #fotos-galeria .galeria-conteiner {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 1fr;
    gap: 1em;
  }
}
@media screen and (min-width: 451px) and (max-width: 991px) {
  .conteiner-gal #fotos-galeria .galeria-conteiner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 15em;
    gap: 1em;
  }
}
.conteiner-gal #fotos-galeria .galeria-conteiner .galeria-imagenes img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  -webkit-box-shadow: 10px 10px 10px -4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 10px -4px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 10px -4px rgba(0, 0, 0, 0.75);
}
@media screen and (max-width: 450px) {
  .conteiner-gal #fotos-galeria .galeria-conteiner .galeria-imagenes img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
@media screen and (max-width: 450px) {
  .conteiner-gal #fotos-galeria .galeria-conteiner .galeria-imagenes {
    width: 100%;
    height: auto;
  }
}
.conteiner-gal #fotos-galeria .galeria-conteiner .img1 {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
@media screen and (max-width: 450px) {
  .conteiner-gal #fotos-galeria .galeria-conteiner .img1 {
    display: none;
  }
}
.conteiner-gal #fotos-galeria .galeria-conteiner .img4 {
  grid-column-start: span 2;
  object-fit: cover;
}
@media screen and (max-width: 450px) {
  .conteiner-gal #fotos-galeria .galeria-conteiner .img4 {
    grid-column-start: unset;
  }
}
@media screen and (min-width: 451px) and (max-width: 991px) {
  .conteiner-gal #fotos-galeria .galeria-conteiner .img4 {
    grid-column-start: unset;
  }
}
.conteiner-gal #fotos-galeria .galeria-conteiner .img5 {
  grid-row-start: span 2;
}
@media screen and (max-width: 450px) {
  .conteiner-gal #fotos-galeria .galeria-conteiner .img5 {
    display: none;
  }
}
@media screen and (min-width: 451px) and (max-width: 991px) {
  .conteiner-gal #fotos-galeria .galeria-conteiner .img5 {
    grid-column-start: unset;
  }
}
.conteiner-gal #fotos-galeria .galeria-conteiner .img6 {
  grid-row-start: span 2;
  object-fit: contain;
}
@media screen and (max-width: 450px) {
  .conteiner-gal #fotos-galeria .galeria-conteiner .img6 {
    display: none;
  }
}
@media screen and (min-width: 451px) and (max-width: 991px) {
  .conteiner-gal #fotos-galeria .galeria-conteiner .img6 {
    grid-column-start: unset;
  }
}
.conteiner-gal #fotos-galeria .galeria-conteiner .img8 {
  grid-column-start: span 2;
}
@media screen and (max-width: 450px) {
  .conteiner-gal #fotos-galeria .galeria-conteiner .img8 {
    grid-column-start: unset;
    display: none;
  }
}
@media screen and (min-width: 451px) and (max-width: 991px) {
  .conteiner-gal #fotos-galeria .galeria-conteiner .img8 {
    grid-column-start: unset;
    display: none;
  }
}
.conteiner-gal #fotos-galeria .galeria-conteiner .img66 {
  grid-row-start: span 2;
  object-fit: contain;
}
@media screen and (max-width: 450px) {
  .conteiner-gal #fotos-galeria .galeria-conteiner .img66 {
    grid-column-start: unset;
    display: none;
  }
}
@media screen and (min-width: 451px) and (max-width: 991px) {
  .conteiner-gal #fotos-galeria .galeria-conteiner .img66 {
    grid-column-start: unset;
  }
}
.conteiner-gal #trailer .titulo-trailer {
  color: white;
  text-align: center;
  font-size: 3em;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.conteiner-gal #trailer .video-trailer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/*----------contacto--------*/
.conteiner-contacto .imagen-nav-servicio {
  background-image: url(../imagenes/contacto1.jpg);
}
.conteiner-contacto .presentacion-contacto {
  background-color: #413f42;
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.conteiner-contacto .presentacion-contacto h1 {
  text-align: center;
  color: white;
  padding: 1rem;
  font-size: 3rem;
}
@media screen and (max-width: 450px) {
  .conteiner-contacto .presentacion-contacto h1 {
    font-size: 2rem;
  }
}
@media screen and (min-width: 451px) and (max-width: 991px) {
  .conteiner-contacto .presentacion-contacto h1 {
    font-size: 2rem;
  }
}
.conteiner-contacto .presentacion-contacto h2 {
  text-align: center;
  font-size: 1rem;
}
@media screen and (max-width: 450px) {
  .conteiner-contacto .presentacion-contacto h2 {
    font-size: 1rem;
  }
}
@media screen and (min-width: 451px) and (max-width: 991px) {
  .conteiner-contacto .presentacion-contacto h2 {
    font-size: 1rem;
  }
}
.conteiner-contacto .contacto-form {
  display: flex;
  flex-direction: row;
  background-color: #413f42;
}
@media screen and (max-width: 450px) {
  .conteiner-contacto .contacto-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (min-width: 451px) and (max-width: 991px) {
  .conteiner-contacto .contacto-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.conteiner-contacto .contacto-form .contacto-text {
  width: 40%;
  margin: 2em;
  color: white;
}
@media screen and (max-width: 450px) {
  .conteiner-contacto .contacto-form .contacto-text {
    width: 100%;
    margin: 1em;
    font-size: 0.8rem;
  }
}
@media screen and (min-width: 451px) and (max-width: 991px) {
  .conteiner-contacto .contacto-form .contacto-text {
    width: 90%;
    margin: 1em;
    font-size: 0.8rem;
  }
}
.conteiner-contacto .contacto-form .contacto-text h2 {
  width: 80%;
}
.conteiner-contacto .contacto-form .contacto-text p {
  width: 100%;
  color: rgb(175, 52, 52);
  font-size: 2em;
  margin: 0.5em;
  text-decoration: underline;
}
@media screen and (max-width: 450px) {
  .conteiner-contacto .contacto-form .contacto-text p {
    font-size: 1.5em;
  }
}
@media screen and (min-width: 451px) and (max-width: 991px) {
  .conteiner-contacto .contacto-form .contacto-text p {
    font-size: 2em;
  }
}
.conteiner-contacto .contacto-form .contacto-formulario {
  width: 50%;
  margin: 1em;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 450px) {
  .conteiner-contacto .contacto-form .contacto-formulario {
    width: 100%;
    margin: 1em;
    display: flex;
    flex-direction: column;
  }
}
@media screen and (min-width: 451px) and (max-width: 991px) {
  .conteiner-contacto .contacto-form .contacto-formulario {
    width: 100%;
    margin: 1em;
    display: flex;
    flex-direction: column;
  }
}
.conteiner-contacto .contacto-form .contacto-formulario textarea {
  width: 80%;
  height: 10em;
  margin: 1em;
}
@media screen and (max-width: 450px) {
  .conteiner-contacto .contacto-form .contacto-formulario textarea {
    width: 80%;
    height: 10em;
    margin: 1em;
  }
}
@media screen and (min-width: 451px) and (max-width: 991px) {
  .conteiner-contacto .contacto-form .contacto-formulario textarea {
    width: 80%;
    height: 10em;
    margin: 1em;
  }
}
.conteiner-contacto .contacto-form .contacto-formulario input {
  width: 30%;
}
@media screen and (max-width: 450px) {
  .conteiner-contacto .contacto-form .contacto-formulario input {
    width: 80%;
  }
}
@media screen and (min-width: 451px) and (max-width: 991px) {
  .conteiner-contacto .contacto-form .contacto-formulario input {
    width: 80%;
  }
}

/*----------variables--------*/
/*-----fonts------
font-family: 'Montserrat', sans-serif;*/
.imagen-logo {
  margin-left: 0;
  height: auto;
  width: auto;
  justify-content: left;
}

#bio .imagen-nav-servicio, .conteiner-servicios .servicios-main .imagen-nav-servicio, .conteiner-contacto .imagen-nav-servicio {
  width: 100%;
  height: 30em;
  background-size: cover;
}

/*# sourceMappingURL=style.css.map */
