


    #bio {
        width: 100%;
        height: auto;
        background-color: #413f42;
        

        .imagen-nav-servicio {
            @extend %imagen-nav-servicio;
            background-image: url(../imagenes/gal2.jpg);
                        @media screen and (max-width: 450px){
                background-image: url(../imagenes/menu1.jpg);
            }
            @media screen and (min-width: 451px) and (max-width: 991px){
                height: 35rem;
                background-image: url(../imagenes/gal.jpg);
            }

        }
        .bio-intro {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color:#413f42;
            background-repeat: no-repeat;
            background-size: cover;
            color: azure;
            height: autos;
            font-size: 1rem;

            h2 {
                font-size: 2rem;
                color: white;

                @media screen and (max-width: 450px) {
                    font-size: 0.8rem;
                }
                @media screen and (min-width: 451px) and (max-width: 991px) {
                    font-size: 1.3rem;
                }
            }
        }

        .grid-conteiner-bio {
            display: flex;
            align-items: center;
            background-color: #413f42;
            width: 100%;
            height: auto;

            

            .bio-conteiner1 {
                display: flex;
                    align-items: center;
                    flex-direction: column;
                    width: 100%;
                    height: auto;
                    padding: 3em;

                @media screen and (max-width: 450px) {
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    width: 100%;
                    height: auto;
                    padding: 1em;
                }

                @media screen and (min-width: 451px) and (max-width: 991px) {
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    width: 100%;
                    height: auto;
                    padding: 1em;
                }

                .imagen-bio1 {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 50%;
                    height: auto;

                    .img1-bio {
                        width: 100%;
                        height: auto;

                        }
                
                }

                .texto-bio h1 {
                    display: flex;
                    justify-content: center;
                    font-size: 3em;
                    color: white;

                    @media screen and (max-width: 450px) {
                        font-size: 1.5em;;
                    }
    
                    @media screen and (min-width: 451px) and (max-width: 991px) {
                        font-size: 2em;
                    }
                    
                }

                .texto-bio h2 {
                    padding: 1em;
                    font-size: 2em;
                    color: white;

                    @media screen and (max-width: 450px){
                        font-size: 1em;
                        border-bottom: solid white;
                    }
                    @media screen and (min-width: 451px) and (max-width: 991px) {
                        font-size: 1.5em;
                    }


                }
            }
        }
    }