/*-------------galeria--------------*/


.conteiner-gal {
    background-color: #413f42;

    .imagen-nav-servicio {
        width: 100%;
        height: 10em;
        background-color: black;
        background-size: cover;
    }

    #fotos-galeria {


        h2 {
            color: white;
            text-align: center;
            font-size: 3em;
            font-family: Georgia, "Times New Roman", Times, serif;
        }

        .galeria-conteiner {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-auto-rows: 20em;
            gap: 2em;
            padding: 2em;

            @media screen and (max-width: 450px) {
                display: grid;
                grid-template-columns: 1fr;
                grid-auto-rows: 1fr;
                gap: 1em;
            }
            @media screen and (min-width: 451px) and (max-width: 991px){
                display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-auto-rows: 15em;
            gap: 1em;
            }

            .galeria-imagenes {
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    -webkit-box-shadow: 10px 10px 10px -4px rgba(0, 0, 0, 0.75);
                    -moz-box-shadow: 10px 10px 10px -4px rgba(0, 0, 0, 0.75);
                    box-shadow: 10px 10px 10px -4px rgba(0, 0, 0, 0.75);

                    @media screen and (max-width: 450px) {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }

                @media screen and (max-width: 450px) {
                    width: 100%;
                    height: auto;
                }
            }
            .img1{
                width: 100%;
                height: 100%;
                object-fit: contain;
                @media screen and (max-width: 450px){
                    display: none;

                }
            }
            

            .img4 {
                grid-column-start: span 2;
                object-fit: cover;
                @media screen and (max-width: 450px) {
                    grid-column-start: unset;
                }
                @media screen and (min-width: 451px) and (max-width: 991px){
                    grid-column-start: unset;
                }
            }

            .img5 {
                grid-row-start: span 2;

                @media screen and (max-width: 450px) {
                    display: none;
                }
                @media screen and (min-width: 451px) and (max-width: 991px){
                    grid-column-start: unset;
                }
            }

            .img6 {
                grid-row-start: span 2;
                object-fit: contain;

                @media screen and (max-width: 450px) {
                    display: none;
                }
                @media screen and (min-width: 451px) and (max-width: 991px){
                    grid-column-start: unset;
                }
            }

            .img8 {
                grid-column-start: span 2;
                

                @media screen and (max-width: 450px) {
                    grid-column-start: unset;
                    display: none;
                }
                @media screen and (min-width: 451px) and (max-width: 991px){
                    grid-column-start: unset;
                    display: none;
                }
            }
            .img66 {
                grid-row-start: span 2;
                object-fit: contain;

                @media screen and (max-width: 450px) {
                    grid-column-start: unset;
                    display: none;
                }
                @media screen and (min-width: 451px) and (max-width: 991px){
                    grid-column-start: unset;
                }
            }
        }
    }

    #trailer {
        .titulo-trailer {
            color: white;
            text-align: center;
            font-size: 3em;
            font-family: Georgia, "Times New Roman", Times, serif;
        }

        .video-trailer {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }
    }
}