/*------menu nav------*/
@import "../scss/__variables.scss";


.imagen-logo {
    margin-left: 0;
    height: auto;
    width: auto;
    max-height: 10rem;
    justify-content: left;

    @media screen and (max-width: 450px) {
        max-height: 5rem;
    }

    @media screen and (min-width: 451px) and (max-width: 991px) {
        max-height: 7rem;
    }
}

/*---footer-------*/


footer {
    background-image: url(../imagenes/footer.jpg);
    width: 100%;
    height: 15em;
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;

    .menu-footer1 {
        width: 70%;
        display: flex;
        flex-direction: row;
        justify-content: right;
        margin-right: 3em;

        li {
            list-style-type: none;
            display: flex;
            flex-direction: row;
            justify-content: space-around;

            a {
                text-decoration: none;
                color: whitesmoke;

                &:hover {
                    color: #b20600;
                    text-shadow: none;

                    @media screen and (max-width: 450px) {
                        color: orangered;
                    }
                }
            }
        }
    }

    .menu-footer2 {
        display: flex;
        align-items: flex-end;

        .iconos-footer {
            width: 100%;
            list-style-type: none;
            display: flex;
            justify-content: right;
            flex-direction: column;
            color: whitesmoke;
            align-items: baseline;

            .img-footer {
                width: 2rem;
                height: 2rem;
            }
        }
    }
}

/*---index main----*/

.main-conteiner-index {
    @include bg(black);

    #presentacion {
        background-image: url(../imagenes/principal.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        width: auto;
        height: 40rem;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        background-attachment: fixed;
        align-items: center;

        .presentacion-conteiner {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: flex-start;
            padding-top: 18%;

            .frase {
                color: rgb(117, 24, 24);
                display: flex;
                flex-direction: column;
                justify-content: center;
                text-transform: uppercase;
                font-size: 3em;
                font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

                span {
                    display: flex;

                    justify-content: center;
                }

                p {
                    display: flex;

                    justify-content: center;
                }

                @media screen and (max-width: 450px) {
                    font-size: 1rem;
                }

                @media screen and (min-width: 451px) and (max-width: 991px) {
                    font-size: 1.5rem;
                }
            }


        }

        @media screen and (max-width: 450px) {
            background-attachment: unset;
        }

        @media screen and (min-width: 451px) and (max-width: 991px) {
            background-attachment: unset;
        }

    }

    #presentacion-bio {


        .titulos-index {
            background-color: #000000;

            .titulo-bio-index {
                @extend %titulos-index;
                &:hover {
                    color: #b20600
                }

                @media screen and (max-width: 450px) {
                    width: auto;
                    height: 2rem;
                }
            }
        }

        .presentacion-bio-index {
            width: 100%;
            height: 30rem;
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .imagen-bio {
                width: 40%;
                height: 30rem;
                display: flex;
                justify-content: left;

                @media screen and (max-width: 450px) {
                    width: 100%;
                }
            }

            .texto-bio-index {
                text-decoration: none;
                
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-around;

                .titulo-bio {
                    display: flex;
                    justify-content: center;
                    font-size: 3rem;

                    @media screen and (min-width: 451px) and (max-width: 991px) {
                        font-size: 2rem;
                    }
                }

                .boton-bio {
                    border-radius: map-get($boton, br );
                    border-color: map-get($boton, bc );
                    background-color: map-get($boton, bgc);
                    text-decoration: map-get($boton, td);
                    color: map-get($boton, c );
                    font-size: map-get($boton, fz );
                    transition-duration: map-get($boton ,ts );

                    &:hover {
                        color: #b20600;
                        background-color: #dddddd;
                        font-size: 3em;
                    }
                }

                @media screen and (max-width: 450px) {
                    font-size: 1rem;
                }

                @media screen and (min-width: 451px) and (max-width: 991px) {
                    font-size: 0.8rem;
                }
            }

            @media screen and (max-width: 450px) {
                display: flex;
                flex-direction: column;
                justify-content: unset;
                height: auto;
            }
        }
    }

    #trailer {
        

        .titulo-trailer-index {
            @extend %titulos-index;


            &:hover {
                color: #b20600
            }
        }

        .video-trailer {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }
    }

    #presentacion_servicios-index {
        .titulo-shows {
            .titulo-servicios-index {
                @extend %titulos-index;


                &:hover {
                    color: #b20600
                }
            }
        }

        .servicios-index {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            
            width: 100%;
            height: auto;
            flex-wrap: wrap;

            .servicio-index {
                display: flex;
                justify-content: center;
                flex-direction: column;
                width: 50%;
                height: 50%;
                align-items: center;

                .img-serv {
                    width: 80%;
                    height: 80%;
                    transition-duration: 1s;

                    &:hover {
                        width: 86%;
                        height: 86%;
                    }

                    .titulo-serv {
                        width: 40%;
                        height: 40%;
                        font-size: 1rem;
                    }
                }

                @media screen and (max-width: 450px) {
                    width: 100%;
                }
            }

            @media screen and (max-width: 450px) {
                display: flex;
                flex-direction: column;
            }
        }
    }

    #despedida {
        width: 100%;
        height: 250px;
        background-image: url(../imagenes/IMG-20170607-WA0033.jpg);
        background-attachment: fixed;
        background-size: cover;

        .titulo-desp {
            display: flex;
            justify-content: center;
            align-items: center;
            width: auto;
            height: 100px;
            color: whitesmoke;
        }

        .texto-despedida {
            color: whitesmoke;

            @media screen and (max-width: 450px) {
                font-size: 0.8rem;
            }
        }

        @media screen and (max-width: 450px) {
            background-attachment: unset;
        }
    }

    #imagenes-index {
        

        .titulo-gal-index {
            display: flex;
            justify-content: center;
            align-items: center;
            width: auto;
            height: 100px;
            color: whitesmoke;
            background-color: #000000;

            .titulo-galeria-index {
                @extend %titulos-index;
                &:hover {
                    color: #b20600;
                }
            }
        }
    }



}